<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLikActive="active">SCD USAC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <a [routerLink]="['/Publicacion/Perfil',user.Carnet]" class="btn btn-outline-success my-2 my-sm-0" type="submit" routerLinkActive="active"style = "margin-left: 75%">Perfil</a>
      <!-- routerLink="/Publicacion/Perfil"    [routerLink]="['/Publicacion/Perfil',app.Carnet]"-->
  </div>
</nav>
