<div class="card">
    <div class="card-body">
        <label for="modificarnombre" style="margin-left: 400px;  background: rgb(153, 190, 204)  ;padding: 10px;">CARGAR CURSOS</label><br>
<label for="CURSOS" style="margin-right: 30px;"style="margin: 10px;">NOMBRE DEL CURSO</label><br>
<input class="form-control mr-sm-2" type="write" placeholder="Nombre Curso" aria-label="NOMBRE CURSO" style="width: 450px;">
<br>
<br>
<br>
<label for="CURSOS" style="margin-right: 30px;"style="margin: 10px;">NOTA DEL CURSO</label><br>
<input class="form-control mr-sm-2" type="write" placeholder="Nota " aria-label="NOMBRE CURSO" style="width: 100px;" maxlength="3">
<button class="button" type="submit" style="float: right;" >CARGAR</button>
    </div>
</div>