<p>cursos works!</p>
<label for="CURSOS" style="margin-right: 30px;"style="margin: 10px;">NOMBRE DEL CURSO</label><br>
<input class="form-control mr-sm-2" type="write" placeholder="Nombre Curso" aria-label="NOMBRE CURSO" style="width: 450px;">
<br>
<br>
<label for="CURSOS" style="margin-right: 30px;"style="margin: 10px;">NOTA DEL CURSO</label><br>
<input class="form-control mr-sm-2" type="write" placeholder="Nota " aria-label="NOMBRE CURSO" style="width: 100px;" maxlength="3">
<br>
<br>
<button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" >CARGAR</button>