<div class="card">
    <div class="card-body">
        <a routerLink="/Publicacion/Perfil/Modificar" class="button" type="submit" routerLinkActive="active" style = "margin-left: 275px;">Modificar Perfil</a>
<a routerLink="/Publicacion/Perfil/Pensum" class="button" type="submit" routerLinkActive="active"   style="margin-left: 20px; " >Ver Pensum</a>
<button routerLink="/Publicacion/Perfil/Cursos" class="button" style="margin-left: 20px; " >Cargar Cursos</button><br>
<br>
<br>
<label for=nombre style="margin-left: 20px; " style="margin-right: 30px;" style="margin: 15px;" >Nombres: </label> <input type="text" size="25" maxlength="30" value="" name="nombretext" style="background: rgb(181, 243, 222);"><br>
<label for=apellido style="margin-left: 20px; " style="margin-right: 30px;"style="margin: 15px;">Apellidos:</label><input type="text" size="25" maxlength="30" value="" name="apeliidotext"style="background: rgb(181, 243, 222);"><br> 
<label for=correo style="margin-left: 20px;  margin-right: 35px; margin: 15px;">Correo:</label><input type="text" size="36" maxlength="40" value="" name="correotext"style="margin-left: 17px; background: rgb(181, 243, 222);"><br><br>



<br>
<label for="CURSOS" style="margin-right: 30px;"style="margin: 10px;">CURSOS APROBADOS</label><br>
<input type="text" size="100" value="AQUI VAN LOS CURSOS APROBADOS" style="background:rgb(181, 243, 222) ; margin-left: 100px;">
<br>
<br>
<br>
<br>
<br>
<label for=creditos style="margin-left: 20px; " style="margin-right: 35px;"style="margin: 15px;">Creditos Aprobados:</label><input type="text" style="margin-left: 3px; background:rgb(181, 243, 222);" size="3" maxlength="3" value="" name="creditostext"><br><br>

<footer>
    <div id="inside_footer">
    <div id="grupo">
        <h4>Grupo 4B ©</h4>
    </div>
    <div id="curso">
        <h4>Prácticas Iniciales 2do Semestre 2020</h4>
    </div>
</div>
</footer> 
    </div>
</div>