<label for="modificarnombre" style="margin-left: 30px; margin: 20px;background: skyblue;">MODIFICAR DATOS PERSONALES</label><br>
<br>
<br>
<label for="modificarnombre" style="margin-left: 30px; margin: 20px;background: rgb(164, 236, 161);">INGRESAR NUEVO NOMBRE</label>
<input class="form-control mr-sm-2" type="write" placeholder="INGRESE EN NOMBRE" aria-label="modificar datos" style="width: 220px; background: whitesmoke; margin-left: 30px; margin: 20px">
<label for="modificarapellido" style="margin-left: 30px; margin: 20px;background: rgb(164, 236, 161);">INGRESAR NUEVO APELLIDO</label>
<input class="form-control mr-sm-2" type="write" placeholder="INGRESE EL APELLIDO" aria-label="modificar datos" style="width: 220px; background: whitesmoke; margin-left: 20px; margin: 20px">
<label for="modificarcorreo" style="margin-left: 30px; margin: 20px;background: rgb(164, 236, 161);">INGRESAR NUEVO CORREO</label>
<input class="form-control mr-sm-2" type="write" placeholder="INGRESE EL CORREO" aria-label="modificar datos" style="width: 220px; background: whitesmoke; margin-left: 20px; margin: 20px">


