<div class="col-md-12">
    <div class="row">
        <form>
            <a routerLink="Publicacion/add" class="btn btn-outline-secondary my-2 my-sm-0"
                style="margin-right: 340px;" routerLinkActive="active">NuevaPublicacion</a>
        </form>
        <form class="form-inline my-2 my-ly-0">
            <input type="radio" id="catedratico" name="grupofinltro" value="2" style="margin: 5px;" [(ngModel)] = "paramsfiltro.Tipo">
            <label for="catedratico" style="margin-right: 15px;">Catedratico</label>
            <input type="radio" id="curso" name="grupofinltro" value="3" style="margin: 5px;" [(ngModel)] = "paramsfiltro.Tipo">
            <label for="curso" style="margin-right: 15px;">Curso</label>
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                style="width: 300px;" [(ngModel)] = "paramsfiltro.Mensaje">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click) = "filtro()">Buscar</button>
        </form>
    </div>
    <br>
</div>
<div class="col-md-12" *ngFor="let publicacion of publicaciones">
    <div class="card text-center">
        <div class="card-header">
            <div class="row">
                <div class="col-md-2">
                    <h3>{{publicacion.Usuario_Carnet}}</h3>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-4">
                    <p>Fecha de publicacion: {{publicacion.Fecha | date: 'yyyy-MM-dd'}}</p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <h2>Catedratico </h2>
                <h2>: {{publicacion.Nombres == null ? 'Datos no': publicacion.Nombres}}
                    {{publicacion.Apellidos == null ? 'proporcionados': publicacion.Apellidos}}</h2>
            </div>
            <div class="row">
                <h2>Curso </h2>
                <h2>: {{publicacion.Nombre == null ? 'Datos no proporcionados': publicacion.Nombre}}</h2>
            </div>
            <div class="row">
                <p>Mensaje: {{publicacion.Mensaje}}</p>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <a class="btn btn-dark btn-block"
                        [routerLink]="['/Publicacion/Comentario', publicacion.idPublicacion]">
                        Ver Comentarios
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-warning btn-block">
                        Ver Perfil
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    <br>
</div>