<div class="col-md-12" *ngFor="let publicacion of publicaciones">
  <div class="card text-center">
      <div class="card-header">
          <h1>{{publicacion.Usuario_Carnet}}</h1>
          <h1>{{publicacion.Curso_CodigoCurso}}</h1>
          <h1>{{publicacion.Catedratico_NoCatedratico}}</h1>
      </div>
      <div class="card-body">
          <div class="row">
              <p>Mensaje: {{publicacion.Mensaje}}</p>
          </div>
          <div class="row">
              <div class="col-md-4">
                  <a href="#" class="btn btn-info btn-block">
                      Ver Comentarios
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="#" class="btn btn-info btn-block">
                      Ver Perfil
                  </a>
              </div>
              <div class="col-md-4">
                  <a href="#" class="btn btn-info btn-block">
                      Dejar Comentario
                  </a>
              </div>
          </div>
      </div>
  </div>

</div>
